.navbar {
    display: flex;
    background-color: rgb(215, 221, 255);
    height: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.navbar:hover {
    text-decoration: underline;
    background-color: #c7fafd;
    color: rgb(255, 0, 0);
}

.footer {
    display: flex;
    background-color: rgb(192, 201, 252);
    height: 10px;
    padding: 10px;
    cursor: pointer;
    margin-right: auto;
}

.footer:hover {
    text-decoration: underline;
    background-color: #93faff;
    color: rgb(255, 0, 0);
}
